<header>
    @*  <hgroup>
            <h1>@ViewBag.Title</h1>
        </hgroup>*@
    <nav id="top_menu" class="nav-menu">
        <ul>
            <li>
                @Html.ActionLink("日志", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("相册", "Index", "Album")
            </li>
        </ul>
    </nav>
</header>
